{% extends 'layout.html' %}

{% block main %}
<h3>文章管理      <small>添加文章</small></h3>
<form method="post">
    <span>标题</span>
    <input type="text" name="title"/>
    <span>分类</span>
    <select name="categories">
        {% for category in categories %}
        <option value="{{category._iud.toString()}}">{{category.name}}</option>
        {% endfor %}
    </select>
    <button type="submit">提交</button><br>
    <span style="line-height: 30px;">内容摘要</span><br>
    <textarea id="description" cols="150" rows="3" placeholder="请输入简介" name="description"></textarea><br>
    <span style="line-height: 20px;">文章正文</span>
    <textarea id="articeContent"></textarea>
</form>
{% endblock %}
