{% extends '../layout.html' %}

{% block main %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $('#category').hover(function () {
            $(this).find('.dropdown').stop().slideDown(400);
            console.log('category');
        },function () {
            console.log('category');
            $(this).find('.dropdown').stop().slideUp(400);
        })
    </script>

</head>

</html>
{% endblock %}