<html>
<head lang="en">
    <meta charset="utf-8">
    <title>oHearto</title>
    <script type="text/javascript" src=./jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
            // 登录注册的切换
            $('#register a').click(function(){
                $('#login').show();
                $('#register').hide();
            });

            $('#login a').click(function(){
                $('#login').hide();
                $('#register').show();
            });
            $('#register .submit').click(function(){
                // 通过ajax提交
                $.ajax({
                    type:'post',
                    url:'/login/user/register',
                    dataType:'json',
                    data:{
                        username:$('#register').find('[name="username"]').val(),
                        password:$('#register').find('[name="password"]').val(),
                        repassword:$('#register').find('[name="repassword"]').val()
                    },
                    success:function(data){
                        alert(data.message);
                        if(!data.code)
                        {
                            $('#register').hide();
                            $('#login').show();
                        }
                    },
                    error:function(err){
                        alert(err);
                    }

                });
            });

            $('#login .submit').click(function () {
                $.ajax({
                    type:'post',
                    url:'/logins/user/login',
                    dataType:'json',
                    data:{
                        username:$('#login').find('[name="username"]').val(),
                        password:$('#login').find('[name="password"]').val()
                    },
                    success:function (data) {
                        alert(data.message);
                        if(!data.code)
                        {
                            $('#logout').show();

                        }
                    },
                    error:function (err) {
                        alert(err);
                    }
                });
            });

            $('#logout').click(function () {
                $.ajax({
                    type:'get',
                    url:'/logins/user/logout',
                    success:function (data) {
                        if(!data.code)
                        {
                            window.location.reload();
                        }
                    }
                })
            })

        });

    </script>

    <link rel="stylesheet" href="/public/main.css" type="text/css" />

</head>


<body>
<nav class="navbar">
    <ul>
        <li><a href="index.html">首页</a></li>
        <li><a href="article.html">文章</a></li>
        <li><a href="portfolio.html">作品</a></li>
        <li><a href="about.html">关于</a></li>
        <li>{% if userInfo.isAdmin %}
            <a href="/admins">管理员您好，进入管理</a>
            {% elseif userInfo.username != null%}
            <span>{{userInfo.username}}</span>
            {% else %}
            <span>未登录</span>
            {% endif %}
            </a></li>
        <div id="logout" style = "display:none">
            <li><a href="javascript:;">注销</a></li>
        </div>

    </ul>

    <ul class = "navArticle">
        {% if !userInfo._id %}
        <li><a href="javascript:;">仅限注册用户查看</a></li>
        {% else %}
        {% for category in categories %}
        <li><a href="javascript:;">{{category.name}}</a> </li>
        {% endfor %}
        {% endif %}
    </ul>
</nav>


<div class="banner-wrap" id = "loginAndRegister">
    <div class="login" id="register">
        <h3>注册</h3>
        <span>用户：<input name="username" type="text"/></span><br/>
        <span>密码：<input name="password" type="text"/></span><br/>
        <span>确认：<input name="repassword" type="text"/></span><br/>
        <span><input class="submit" type="button" value="提交"/></span>
        <span>已有账号？马上<a href="javascript:;">登录</a></span>
    </div>
</div>
<div class="login" id="login" style="display:none;">
    <h3>登录</h3>
    <span>用户：<input name="username" type="text"/></span><br/>
    <span>密码：<input name="password" type="text"/></span><br/>
    <span><input  class="submit" type="button" value="提交"/></span>
    <span>没有账号？马上<a href="javascript:;">注册</a></span>
</div>


</body>

</html>


